.post {
  width: 80%;
  border-radius: 10px;

  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 10px;
}
.profileImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.postImg {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
  transition: all 0.5s ease;
}
.postImg:hover {
  transform: rotate(2deg);
}
.postWrapper {
  padding: 20px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postTopLeft {
  display: flex;
  align-items: center;
}
.postUsername {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.postDate {
  font-size: 12px;
}

.postCenter {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}
.postText {
  text-align: center;
  font-size: 16px;
}
.postImg {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;

  align-items: center;
}
.icon:hover {
  cursor: pointer;
}
.likeIcon {
  width: 24px;
  display: flex;
  height: 24px;
  margin-right: 10px;
  flex: 1;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
.likeIcon:hover {
  flex: 2;

  width: 40px;
  height: 40px;
}

.postLikeCounter {
  font-size: 15px;
}

.postCommentText {
  cursor: pointer;
  border-bottom: 1px dotted gray;
  font-size: 15px;
  transition: all ease-in-out 0.2s;
}
.postCommentText:hover {
  font-size: 14px;
}
